#### regular files ####
*.bak
*.o
*.obj
*.txt
*.cdb
*.hdb
*.log
*.xml
*.html
*.htm
*.csv

# VS specific
*.suo
bin/
obj/
.vs/
*.db
*Log*.htm

# allegro specific
signoise.run/
*.jrl
*.ibs
allegro_free_viewer.jrl,1

# microchip specific
*.lst
*.sym
*.err
*.esym
*.tre
*.mptags
*.tagsrc
*.sta

# orcad specific
*.dsnlck
*.dbk
schematics/old/*
schematics/old/
*.bom
*.net
*.onl
*.obk
*.opj
*.olb
*.olblck
allegro/
devices.dml
devices.dml,1
*.drc

# Qaurtus specific
db/
db/*
incremental_db/*
incremental_db/
.metadata/*
.metadata/
*_bsp*/
.force_rearchive
.force_rebuild
.settings/
*.map
*.objdump
*.ppf
*.qws
.qsys_edit/
mem_init/
ws/
.tcl~
.cproject
.project
.force_relink
*.cmp
*.f
*.bsf
*.spd
*.rpt
*.cdf
*.done
*.dpf
*.fit.*
*.flow.*
*.map.*
*.jdi
*.pin
*.sta.*
*.sld
*.tcl~
*.sopcinfo
*.stp
*.flash
*.hex
*.elf
*create-this-app*
*.pof
simulation/
pll_sim/
